---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Certificates from '../components/Certificates.astro';
import Contact from '../components/Contact.astro';
import { config } from '../config';
---

<Layout title={`${config.name} | ${config.role}`}>
  <Header />

  <main>
    <Hero />
    <About />
    <Experience />
    <Projects />
    <Skills />
    <Certificates />
    <Contact />
  </main>
</Layout>
