---
import { config } from '../config';
---

<section id="about" class="py-20 w-full">
  <div class="container mx-auto px-6 max-w-5xl flex flex-col md:flex-row gap-12 items-center">
    <div class="w-full">
      <h2 class="text-3xl font-bold mb-6 text-slate-800 flex items-center gap-4">
        <span class="text-blue-500">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
        </span> About Me
        <span class="h-px bg-slate-300 flex-grow max-w"></span>
      </h2>
     
      <p class="text-slate-600 text-lg leading-relaxed">
        Full-Stack Developer con +4 años de experiencia.
        Mi trayectoria se basa en proyectos GovTech y FinTech, donde he destacado en la optimización y mantenimiento de sistemas con +100k usuarios activos utilizando tecnologías como React, Node.js, TypeScript y PostgreSQL.
      </p>
      <br/>
      <p class="text-slate-600 text-lg leading-relaxed">
        Me considero una persona resiliente y proactiva. Disfruto trabajar en equipo y sobre todo aprender nuevas tecnologías y herramientas que me permitan crecer tanto personal como profesionalmente.      </p>
    </div>
  </div>
</section>
