---
import { config } from '../config';
---

<section id="contact" class="py-20 w-full bg-slate-950 text-center text-slate-100">
  <div class="container mx-auto px-6 max-w-5xl">
    <div class="max-w-2xl mx-auto">
     <h2 class="text-blue-500 font-mono mb-4 text-sm tracking-widest">¿Qué sigue?</h2>
     <h2 class="text-4xl md:text-5xl font-bold text-slate-100 mb-6">Contáctame</h2>
  </div>
  
  <footer class="mt-32 flex flex-col items-center gap-6">
    <div class="flex gap-6">
      {Object.entries(config.socials).map(([platform, url]) => (
        <a href={url} target="_blank" rel="noopener noreferrer" class="text-slate-400 hover:text-blue-500 hover:-translate-y-1 transition-all duration-200">
          <span class="sr-only">{platform}</span>
          <span class="capitalize font-mono text-sm">{platform}</span>
        </a>
      ))}
    </div>
  </footer>
  </div>
</section>
